In [2]:
import pandas as pd
import os
import git
import pyarrow.parquet as pq


def get_git_root():
    try:
        # Create a GitPython Repo object
        repo = git.Repo(search_parent_directories=True)

        # Get the absolute path of the root folder
        git_root = repo.git.rev_parse("--show-toplevel")

        return git_root
    except git.InvalidGitRepositoryError:
        # Handle the case where the current directory is not a Git repository
        print("Not a Git repository or an error occurred.")
        return None

# Get the root folder of the Git repository
root_folder = get_git_root()
# load parquet file from dataset dir

dataset_dir=os.path.join(root_folder,"data/raw")
dataset_file="yellow_tripdata_2023-01.parquet"
taxi_zone_file="taxi+_zone_lookup.csv"
dataset_file_path=os.path.join(dataset_dir,dataset_file)
taxi_zone_file_path=os.path.join(dataset_dir,taxi_zone_file)
dataset_processed_dir=os.path.join(root_folder,"data/processed")
dataset_processed_file="processed.csv"
dataset_processed_zone_file="zone.csv"
dataset_processed_file_path=os.path.join(dataset_processed_dir,dataset_processed_file)
dataset_processed_zone_file_path=os.path.join(dataset_processed_dir,dataset_processed_zone_file)


trips = pq.read_table(dataset_file_path)
zone=pd.read_csv(taxi_zone_file_path)
df= trips.to_pandas()
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [3]:
#Data Preparation
'''
1 Data Inspection: 
    We'll start by inspecting the dataset to see if there are any missing values, duplicates, or inconsistent data. We'll also check if the data types are correct and make sure the dataset is ready for analysis.

2 Data Cleaning: 
    Next, we'll clean the dataset by removing or correcting any errors, inconsistencies, or irrelevant information. This will make the dataset more reliable and accurate.

3 Data Transformation: 
    #this can be done through DBT
    After cleaning the dataset, we may need to transform the data to make it more useful for analysis. This can include scaling, normalization, or feature engineering.

4 Data Saving: 
    Once we've prepared the data, we'll save it in a new file to avoid overwriting the original dataset. This way, we can always go back to the original dataset if we need to.

'''

# Check data types
def check_data_types(dataframe):
    return dataframe.dtypes

# Check for duplicates
def check_duplicates(dataframe):
    return dataframe.duplicated().sum()

# Check for missing values
def check_missing_values(dataframe):
    return dataframe.isnull().sum()

#check for missing values and return column with missing value
def get_column_with_missing_value(df):
    missing_values=check_missing_values(df)
    return missing_values[missing_values > 0].index

In [5]:
# #1,2-data inspection and cleaning

print(df.shape)
#check duplicate
print(check_duplicates(df))
#drop duplicate
if check_duplicates(df):
    df = df.drop_duplicates().reset_index(drop=True)
    df['trip_id'] = df.index
    print(df.shape)
#check missing value
print(check_missing_values(df))
columns=get_column_with_missing_value(df)

# Remove rows with missing values in the rating_count column
df.dropna(subset=columns, inplace=True)
print(df.shape)
df.head()

#convert passenger_count and ratecodeID to int
df['passenger_count']=df['passenger_count'].astype(int)
df['RatecodeID']=df['RatecodeID'].astype(int)

print(check_data_types(df))

# #some of the zone data is unknown and if that location data is used for analysis will result in bad output
#removing that locationid in zone file and removing reference from tripdata
location_to_remove=zone[zone['Borough'] == "Unknown"]['LocationID'].tolist()
new_zone=zone[zone['Borough'] != "Unknown"]
new_zone.to_csv(dataset_processed_zone_file_path, index=False)
print(df[(df['PULocationID'].isin(location_to_remove) | df['DOLocationID'].isin(location_to_remove))])
df=df[~(df['PULocationID'].isin(location_to_remove) | df['DOLocationID'].isin(location_to_remove))]
print(df.shape)
#column with rate code 99 : it seems cabb driver is driving with a personal person
print(df[~df['RatecodeID'].isin([1,2,3,4,5,6]) ])

#save clean data to processed data
df.to_csv(dataset_processed_file_path, index=False)
print(df.columns)
print(df.shape)

(2937423, 19)
0
VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
airport_fee              0
dtype: int64
(2937423, 19)
VendorID                          int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []
(2937423, 19)
         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
329             1  2023-01-01 00:12:16   2023-01-01 00:26:14                1
4067            1  2023-01-01 00:34:52   2023-01-01 00:44:07                1
8744            1  2023-01-01 01:17:50   2023-01-01 02:02:32                1
9254            1  2023-01-01 01:51:10   2023-01-01 02:19:45                1
12769           1  2023-01-01 02:03:24   2023-01-01 03:04:37                1
...           ...                  ...                   ...              ...
2993723         1  2023-01-31 23:39:16   2023-02-01 00:19:40                1
2993840         1  2023-01-31 23:14:47   2023-01-31 23:42:29                1
2994503         1  2023-01-31 23:15:31   2023-01-31 23:22:39                1
2994504         1  2023-01-31 23:27:22   2023-01-31 23:58:15                1
2995018         1  2023-01-31 23:00:19   2023-02-01 00:08:33                1

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
329                4.4          99                  N            74
4067               1.0          99                  N            42
8744              11.5          99                  N           188
9254               0.0          99                  N            74
12769             22.0          99                  N            86
...                ...         ...                ...           ...
2993723            0.0          99                  N           242
2993840            0.0          99                  N            90
2994503            0.9          99                  N            42
2994504            0.0          99                  N            41
2995018           13.9          99                  N           228

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
329               248             1         24.5    0.0      0.5         0.0
4067               74             1         12.2    0.0      0.5         0.0
8744              219             1         45.5    0.0      0.5         0.0
9254               77             1         41.2    0.0      0.5         0.0
12769               5             1         67.2    0.0      0.5         0.0
...               ...           ...          ...    ...      ...         ...
2993723           188             1         52.0    0.0      0.5         0.0
2993840           136             1         31.7    0.0      0.5         0.0
2994503            41             1         12.2    0.0      0.5         0.0
2994504           191             1         50.2    0.0      0.5         0.0
2995018           159             1         50.5    0.0      0.5         0.0

         tolls_amount  improvement_surcharge  total_amount  \
329              6.55                    1.0         32.55
4067             0.00                    1.0         13.70
8744             0.00                    1.0         47.00
9254             6.55                    1.0         49.25
12769            9.00                    1.0         77.70
...               ...                    ...           ...
2993723          6.55                    1.0         60.05
2993840          0.00                    1.0         33.20
2994503          0.00                    1.0         13.70
2994504          6.55                    1.0         58.25
2995018          0.00                    1.0         52.00

         congestion_surcharge  airport_fee
329                       0.0          0.0
4067                      0.0          0.0
8744                      0.0          0.0
9254                      0.0          0.0
12769                     0.0          0.0
...                       ...          ...
2993723                   0.0          0.0
2993840                   0.0          0.0
2994503                   0.0          0.0
2994504                   0.0          0.0
2995018                   0.0          0.0

[12935 rows x 19 columns]
(2937423, 19)
Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')
(2937423, 19)

In [ ]:
#data transformation 
# data modeling and storing